@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@theme {
  --color-main-dark: #20212c;
  --color-main-white: #e8e8e8;
  --color-card-dark: #2b2c37;
  --color-action: #635fc7;
  --color-primary-text: #ffffff;
  --color-secondary-text: #828fa3;

  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  @apply font-jakarta bg-main-dark text-primary-text h-screen w-full;
}

#root {
  @apply w-full h-full;
}

.custom-scrollbar-y::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar-y::-webkit-scrollbar-thumb {
  @apply dark:bg-[#3e3f4e] bg-action rounded-[10px];
}

.custom-scrollbar-x::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar-x::-webkit-scrollbar-thumb {
  @apply dark:bg-[#3e3f4e] rounded-[10px];
}

.styled-color::-webkit-color-swatch-wrapper {
  padding: 0;
}

.styled-color::-webkit-color-swatch {
  border: 2px solid var(--color-action, 0.4);
  border-radius: 100%;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}
