@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@theme {
  --color-main-dark: #20212c;
  --color-card-dark: #2b2c37;
  --color-action: #635fc7;
  --color-primary-text: #ffffff;
  --color-secondary-text: #828fa3;

  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
}

body {
  @apply font-jakarta bg-main-dark text-primary-text h-screen w-full;
}

#root {
  @apply w-full h-full;
}
